<a href="https://colab.research.google.com/github/rajantripathi/Complete-Python-3-Bootcamp/blob/master/agriculture_yield_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('/content/crop_data.csv')
df.head()
df.columns

Index(['Crop', 'State', 'Cost of Cultivation (`/Hectare) A2+FL',
       'Cost of Cultivation (`/Hectare) C2',
       'Cost of Production (`/Quintal) C2', 'Yield (Quintal/ Hectare) '],
      dtype='object')

In [14]:
from sklearn import preprocessing
  
# label_encoder object knows 
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df['Crop']= label_encoder.fit_transform(df['Crop'])
df['State']= label_encoder.fit_transform(df['State'])
df.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare)
0,0,11,0.070837,0.181972,0.326047,9.83
1,0,4,0.083968,0.103621,0.366617,7.47
2,0,2,0.131226,0.139795,0.318448,9.59
3,0,0,0.190104,0.195073,0.629822,6.42
4,0,6,0.191400,0.208218,0.472621,8.72

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df['Cost of Cultivation (`/Hectare) A2+FL'] = scaler.fit_transform(df[['Cost of Cultivation (`/Hectare) A2+FL']])

df['Cost of Cultivation (`/Hectare) C2'] = scaler.fit_transform(df[['Cost of Cultivation (`/Hectare) C2']])
df['Cost of Production (`/Quintal) C2'] = scaler.fit_transform(df[['Cost of Production (`/Quintal) C2']])

df.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2,Yield (Quintal/ Hectare)
0,0,11,0.070837,0.181972,0.326047,9.83
1,0,4,0.083968,0.103621,0.366617,7.47
2,0,2,0.131226,0.139795,0.318448,9.59
3,0,0,0.190104,0.195073,0.629822,6.42
4,0,6,0.191400,0.208218,0.472621,8.72

In [23]:
X = df.drop( ['Yield (Quintal/ Hectare) '], axis = 'columns')
y = df['Yield (Quintal/ Hectare) ']


from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test=train_test_split(X, y , test_size = 0.2 , random_state =32)

X_train.shape
# X_train = np.asarray(X_train).astype(np.float32)
# y_train = np.asarray(y_train).astype(np.float32)

(39, 5)

In [27]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation = 'relu', input_shape = (X_train.shape[1],)),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(32,activation = 'relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(1)
])

In [28]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [39]:
history = model.fit(X_train, y_train, validation_split=0.2, epochs=2, batch_size=5)

Epoch 1/2
7/7 [==============================] - 0s 20ms/step - loss: 88908.3281 - mae: 116.7306 - val_loss: 68424.7969 - val_mae: 103.5747
Epoch 2/2
7/7 [==============================] - 0s 11ms/step - loss: 88945.2500 - mae: 115.8348 - val_loss: 68239.5547 - val_mae: 103.1828

In [40]:
history.history

{'loss': [88908.328125, 88945.25],
 'mae': [116.73064422607422, 115.83484649658203],
 'val_loss': [68424.796875, 68239.5546875],
 'val_mae': [103.57466888427734, 103.1828384399414]}

In [30]:
model.evaluate(X_test , y_test) # first is loss and second is accuracy

1/1 [==============================] - 0s 110ms/step - loss: 612.0380 - mae: 19.6241

[612.0379638671875, 19.62408447265625]

In [32]:
new_data = pd.read_excel('/content/crop_test.xlsx')
new_data.head()

,Crop,State,Cost of Cultivation (`/Hectare) A2+FL,Cost of Cultivation (`/Hectare) C2,Cost of Production (`/Quintal) C2
0,ARHAR,Uttar Pradesh,9794.05,23076.74,1941.55
1,ARHAR,Karnataka,10593.15,16528.68,2172.46
2,ARHAR,Gujarat,13468.82,19551.90,1898.30
3,ARHAR,Andhra Pradesh,17051.66,24171.65,3670.54
4,ARHAR,Maharashtra,17130.55,25270.26,2775.80

In [35]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

new_data['Crop']=label_encoder.fit_transform(new_data['Crop'])
new_data['State']=label_encoder.fit_transform(new_data['State'])

In [37]:
new_data['Cost of Cultivation (`/Hectare) A2+FL'] = scaler.fit_transform(new_data[['Cost of Cultivation (`/Hectare) A2+FL']])

new_data['Cost of Cultivation (`/Hectare) C2'] = scaler.fit_transform(new_data[['Cost of Cultivation (`/Hectare) C2']])
new_data['Cost of Production (`/Quintal) C2'] = scaler.fit_transform(new_data[['Cost of Production (`/Quintal) C2']])

In [38]:
model.predict(new_data)

1/1 [==============================] - 0s 29ms/step

array([[2.3149395 ],
       [0.8977997 ],
       [0.36048836],
       [0.33990657],
       [1.4851152 ],
       [1.6489089 ],
       [2.007527  ],
       [0.84143144],
       [0.82814   ],
       [1.000349  ],
       [2.2636821 ],
       [1.6386075 ]], dtype=float32)